doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/lib/ace.js')
		script(src='/javascripts/build.js' defer)
	body
		div(id='editor') var myVar = "Hello World" second string
			| Second string
			| Last string
